* {
    padding: 0;
    margin: 0;
};
body {
 font-family: 'Times New Roman', Times, serif;
}
header { 
    background: #1F2937;
    color: white;
     display: block;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 20px ; 
    
}
.logoname {
    font-size: 20px;
    font-weight: bold;
    padding: 20px ;
    margin: 20px;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    margin: 20px;
}
li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: rgb(232, 225, 225);
    
}
.more {
    display: flex;    
    padding: 10px;
    margin: 10px;
    text-decoration: none;

}
.word-box {
    display: block;
    text-decoration: none;
    width: 600px;
    padding: 10px;
    margin: 20px ;
}
.lorem {
    
    font-size: 48px;
}
.par {
    font-size: 18px;
}
.change {
    font-size: 18px;
    background-color: #3882F6;
    padding: 12px 25px;
    margin: 25px;
    border-radius: 15px;
    color: white;

}
.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}
.text-font {
    font-size: 36px;
    color: #1F2937;
    margin: 50px;
}
.boxes { 
    display: flex;
    align-items: center;
    
}
.space-in {
    margin: 10px;
    padding: 10px;
}
.space-in  ,img{
    border: #3882F6;
    border-radius: 15px;

}
.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
}
.three {
    background: #3882F6;
    color: white;
    display: flex;
    padding: 50px;
    margin: 60px;
    border-radius: 20px;   
}
.last-button {
    font-size: 18px;
    background-color: #fff;
    padding: 12px 25px;
    margin: 25px;
    border-radius: 15px #3882F6;;
    color: #1F2937;
}

footer { 
    background: #1F2937;
    color: white;
    text-align: left;
    padding: 20px;
    bottom: 2 px #3882F6;;
    margin: 300px ;
    
}
